body
	background-color: #EAEAEA
	font-size: 18px
.user-wrap
	position: relative	
	.user-link
		color: white
		&:hover
			color: rgba(255,255,255,.5)
		.user-img
		    width: 50px
		    height: 50px
		    border-radius: 50%
		    object-fit: cover
		    margin-right: 5px
		.user-staf
			font-size: 0.7em
			position: absolute
			right: 4.75em
			top: 37px 


.content-sect
	position: relative
	height: auto
	.content-window
		position: absolute
		width: 49%
		height: auto
		//border: 1px solid black
		margin: 0.7%
		border-radius: 5px
		box-shadow: 0 0 10px rgba(0,0,0,0.5)
		& h1
			font-size: 1.5em
			margin: 0 auto
			text-align: center
			margin-bottom: 5px
		.filter
			float: left	
		.icon-wrap
			position: absolute	
			top: 4px
			right: 15px
			.task-icon__top
				margin-left: 7px
				cursor: pointer
				&:hover
					color: #6B6B6B
		.task-wrap
			width: 100%
			box-shadow: 0 0 3px rgba(0,0,0,0.5)
			height: 100px
			position: relative
			border-radius: 3px
			display: flex
			align-items: center
			.task-icon__task
				margin-left: 10px
				font-size: 1.8em
				color: red
			.task-title
				margin-left: 10px
				font-size: 0.9em
			.task-staf
				position: absolute
				left: 7px
				bottom: 7px
				width: 40%
				& a,p
					font-size: 0.8em 
					width: auto	
					column-width: 50px
					float: left
					color: #6B6B6B
				.task-staf__p
					width: 50px
					margin: 0
			.task-date
				position: absolute
				right: 7px
				.task-date__p
					color: #6B6B6B
					font-size: 0.6em 
				

		.sort-link
			margin: 10px
	.content-window__right
		right: 0px
